{% extends "dashboard.html" %}
{% block content %}
    <div class="max-w-7xl mx-auto mb-6 flex space-x-4 items-center">
        <h1 class="text-2xl font-semibold text-gray-900">Add a grades for {{subject.name}}</h1>
    </div>

    <form action="" method="post" class="space-y-8 divide-y divide-gray-200">
        {% csrf_token %}
        <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
            <div>
                {{ form.non_field_errors }}
                <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
                    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                        {{ form.value.errors }}
                        <label for="{{ form.value.id_for_label }}" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">{{ form.value.label }}</label>
                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                            <input
                                required
                                id="{{ form.value.id_for_label }}"
                                name="value"
                                type="number"
                                value="{{form.value.value|default_if_none:''}}"
                                max="20"
                                min="0"
                                class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"
                            />
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <label for="{{ form.student.id_for_label }}" class="block text-sm font-medium text-gray-700">{{ form.student.label }}</label>
                {{ form.student.errors }}
                <select
                    required
                    id="{{ form.student.id_for_label }}"
                    name="student"
                    class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md"
                >
                    {% for student in students%}
                        <option {% if student.id in form.student.value %}selected{% endif %} value="{{ student.id }}">{{ student }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="pt-5">
            <div class="flex justify-end">
                <a href="{% url 'teachers.subjects.index' %}" class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Cancel
                </a>
                <input
                    type="submit"
                    class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                >
            </div>
        </div>
    </form>
{% endblock content %}
