{% extends "dashboard.html" %}
{% block content %}
    <div class="max-w-7xl mx-auto mb-6 flex space-x-4 items-center">
        <h1 class="text-2xl font-semibold text-gray-900">Manage my subjects</h1>
    </div>

    <ul>
        {% for subject in subjects %}
            <li>
                {{subject.name}} - <a class="underline" href="{% url 'teachers.subjects.manage_marks' subject.id %}">Manage grades</a>
            </li>
        {% endfor %}
    </ul>

{% endblock content %}
