{% extends "dashboard.html" %}
{% block content %}
    <div class="max-w-7xl mx-auto mb-6 flex space-x-4 items-center">
        <h1 class="text-2xl font-semibold text-gray-900">Manage grades for {{subject.name}}</h1>
    </div>

        <a href="{% url 'teachers.add_mark' subject.id %}" class="underline">Add a grade</a>

       <ul>
        {% for promotion, promotion_marks in marks.items %}
            <h2 class="mt-5 text-xl">{{promotion}}</h2>
            {% for mark in promotion_marks %}
                <li>
                    {{mark.value}} - {{mark.student.username}} ({{mark.student.first_name}} {{mark.student.last_name}})
                </li>
            {% endfor %}
        {% endfor %}
    </ul>

{% endblock content %}
