{% extends "dashboard.html" %} {% block content %} {% load classroom_extras %}

<form class="divide-y divide-gray-200 lg:col-span-9" action="" method="POST">
  {% csrf_token %}
  <!-- Profile section -->
  <div class="py-6 px-4 sm:p-6 lg:pb-8">
    <div>
      <h2 class="text-lg leading-6 font-medium text-gray-900">Profile</h2>
      <p class="mt-1 text-sm text-gray-500">
        This information will be displayed so be careful what you share.
      </p>
    </div>

    <div class="mt-6 flex flex-col lg:flex-row">
      <div class="flex-grow space-y-6">
        <div>
          <label for="{{ form.username.id_for_label }}" class="block text-sm font-medium text-gray-700">
            Username
          </label>
          <div class="mt-1 rounded-md shadow-sm flex">
            <input
              type="text"
              name="username"
              id="{{ form.username.id_for_label }}"
              autocomplete="username"
              class="focus:ring-light-blue-500 focus:border-light-blue-500 flex-grow block w-full min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300"
              value="{{ form.username.value }}"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="mt-6 grid grid-cols-12 gap-6">
      <div class="col-span-12 sm:col-span-6">
        <label for="{{ form.username.id_for_label }}" class="block text-sm font-medium text-gray-700"
          >First name</label
        >
        <input
          type="text"
          name="first_name"
          id="{{ form.first_name.id_for_label }}"
          autocomplete="given-name"
          class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-light-blue-500 focus:border-light-blue-500 sm:text-sm"
          value="{{ form.first_name.value }}"
        />
      </div>

      <div class="col-span-12 sm:col-span-6">
        <label for="{{ form.last_name.id_for_label }}" class="block text-sm font-medium text-gray-700"
          >Last name</label
        >
        <input
          type="text"
          name="last_name"
          id="{{ form.last_name.id_for_label }}"
          autocomplete="family-name"
          class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-light-blue-500 focus:border-light-blue-500 sm:text-sm"
          value="{{ form.last_name.value }}"
        />
      </div>

      {% if request.user|is_student %}
      <div class="col-span-12 sm:col-span-6">
        <label for="username" class="block text-sm font-medium text-gray-700">
          Promotion
        </label>
        <div class="mt-1 rounded-md shadow-sm flex">
          <span
            class="bg-gray-50 border border-r-0 border-gray-300 rounded-l-md px-3 inline-flex items-center text-gray-500 sm:text-sm"
          >
            {{request.user.promotion}}
          </span>
        </div>
      </div>
      {% endif %}

      <div class="col-span-12 sm:col-span-6">
        <label for="{{ form.email.id_for_label }}" class="block text-sm font-medium text-gray-700"
          >Email</label
        >
        <input
          type="text"
          name="email"
          id="{{ form.email.id_for_label }}"
          autocomplete="email"
          class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-light-blue-500 focus:border-light-blue-500 sm:text-sm"
          value="{{ form.email.value }}"
        />
      </div>
    </div>
  </div>
  <div class="mt-4 py-4 px-4 flex justify-end sm:px-6">
    <a
      href="{% url 'home'%}"
      class="bg-white border border-gray-300 rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-light-blue-500"
    >
      Cancel
    </a>
    <input
      type="submit"
      class="cursor-pointer ml-5 bg-indigo-700 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-light-blue-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-light-blue-500"
    />
  </div>
</form>

{% endblock content %}
