{% extends 'dashboard.html' %}{% block content %}

<div class="max-w-7xl mx-auto mb-6">
  <h1 class="text-2xl font-semibold text-gray-900">Promotion {{promotion.name}} - Add a student</h1>
</div>

<fieldset>
  <legend class="sr-only">
    User list to append 
  </legend>
  <form method="POST">
    <div class="bg-white rounded-md -space-y-px">
      {% csrf_token %}
      {% for student in students %}
        <label class="border-gray-200 {% if students|length == 1 %}rounded-md{% elif forloop.last %}rounded-bl-md rounded-br-md{% elif forloop.first %}rounded-tl-md rounded-tr-md {% endif %} relative border p-4 flex cursor-pointer">
          <input type="checkbox" name="user-{{student.id}}" value="{{True}}" class="h-4 w-4 mt-0.5 cursor-pointer text-indigo-600 border-gray-300 focus:ring-indigo-500" aria-labelledby="user-{{student.id}}" aria-describedby="user-id">
          <div class="ml-3 flex flex-col">
            <!-- Checked: "text-indigo-900", Not Checked: "text-gray-900" -->
            <span id="privacy-setting-0-label" class="text-gray-900 block text-sm font-medium">
              {{student.first_name|title}} {{student.last_name|title}}
            </span>
          </div>
        </label>
      {% empty %}
        <p class="p-12 text-md">No user to add</p>
      {% endfor %}
    </div>
    <!-- Checked: "bg-indigo-50 border-indigo-200 z-10", Not Checked: "border-gray-200" -->
    <div class="flex flex-row-reverse mt-6 space-x-4 space-x-reverse">
      <button class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Ajouter un élève
    </button>
    <a href="{% url 'promotion.coordinator.detail' id=promotion.id %}" class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 cursor-pointer">Cancel</a>
    </div>
  </form>
</fieldset>
{% endblock content %}