{% extends "dashboard.html" %}
{% block content %}

<div class="max-w-7xl mx-auto mb-6">
  <h1 class="text-2xl font-semibold text-gray-900">Promotion {{promotion.name}}</h1>
</div>

<div class="grid grid-cols-2 gap-6">
    <div>
        <h2 class="text-2xl font-semibold text-gray-900 mb-2">Students</h2>
        <ul class="grid grid-cols-1 gap-6 mb-6 sm:grid-cols-2 md:grid-cols-3">
                {% for student in students %}
                    {% include "./coordinator/card.html" with user=student %}
                {% empty %}
                    <p class="p-12 text-md">No user to add</p>
                {% endfor %}
        </ul>
        <a href="{% url 'promotion.coordinator.add.student' id=promotion.id %}" class="float-right inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Ajouter un élève
        </a>
    </div>

    <div>
        <h2 class="text-2xl font-semibold text-gray-900 mb-2">Subjects</h2>
        <div class="bg-white shadow overflow-hidden sm:rounded-md">
            <ul class="divide-y divide-gray-200"> 
            {% for subject in subjects %}
                <li>
                    <a href="#" class="block hover:bg-gray-50">
                        <div class="px-4 py-4 flex items-center sm:px-6">
                            <div class="min-w-0 flex-1 sm:flex sm:items-center sm:justify-between">
                                <div class="truncate">
                                    <p class="font-medium text-md text-indigo-600 truncate">{{subject.name}}</p>
                                </div>
                            </div>
                            <div class="ml-5 flex-shrink-0">
                                <!-- Heroicon name: solid/chevron-right -->
                                <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock content %}