{% extends "dashboard.html" %} {% block content %}

<div class="max-w-7xl mx-auto mb-6 flex space-x-4 items-center">
  <h1 class="text-2xl font-semibold text-gray-900">Promotions</h1>
  <a href="{% url 'create.student' %}" class="inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
    Create a Student
  </a>
</div>

<div class="bg-white shadow overflow-hidden sm:rounded-md">
  <ul class="divide-y divide-gray-200">
      {% for promotion in promotions %}
        <li>
          <a href="{% url 'promotion.coordinator.detail' id=promotion.id %}" class="block hover:bg-gray-50">
            <div class="px-4 py-4 flex items-center sm:px-6">
              <div class="min-w-0 flex-1 sm:flex sm:items-center sm:justify-between">
                  <div class="truncate">
                    <p class="font-medium text-sm text-indigo-600 truncate">{{promotion.name}}</p>
                    <div class="mt-2 flex">
                      <div class="flex items-center text-sm text-gray-500">
                        <!-- Heroicon name: solid/calendar -->
                        <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd" />
                        </svg>
                        <p>
                          Next class
                          <time datetime="2020-01-07">January 7, 2020</time>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="mt-4 flex-shrink-0 sm:mt-0 sm:ml-5">
                    <div class="flex overflow-hidden -space-x-1">
                      {% for student in promotion.users %}
                        <img class="inline-block h-6 w-6 rounded-full ring-2 ring-white" src="https://eu.ui-avatars.com/api/?name={{user.first_name}}+{{user.last_name}}" alt="{{user.first_name}} {{user.last_name}}">
                      {% endfor %}
                    </div>
                  </div>
              </div>
              <div class="ml-5 flex-shrink-0">
                  <!-- Heroicon name: solid/chevron-right -->
                  <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                  </svg>
              </div>
            </div>
          </a>
        </li>
      
      {%empty%}

        <div class="bg-white p-6 rounded-md">
          <p>No promotion to display</p>
        </div>

      {% endfor %}
    </ul>
</div>
<a href="{% url 'promotion.create' %}" class="mt-6 float-right inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
  Create a promotion
</a>

{% endblock content %}
