{% extends 'dashboard.html' %}
{% block content %}

<div class="max-w-7xl mx-auto mb-6">
  <h1 class="text-2xl font-semibold text-gray-900">Create a promotion</h1>
</div>

<form method="POST">
    {% csrf_token %}
    <label for="{{forms.name.id_for_label}}" class="sr-only">
    Name
    </label>
    <input type="text" name="name" id="{{forms.name.id_for_label}}">

    <button class="float-right inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save</button>
</form>
{% endblock content %}