{% extends "dashboard.html" %} {% block content %}

<div class="max-w-7xl mx-auto mb-6 flex space-x-4 items-center">
  <h1 class="text-2xl font-semibold text-gray-900">Promotion - {{promotion.name}}</h1>
</div>

<ul class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-6">
    {% for student in students %}
        {% include "./student/card.html" with user=student %}
    {% endfor %}
</ul>

{% endblock content %}
