<li class="col-span-1 flex flex-col text-center bg-white rounded-lg shadow divide-y divide-gray-200">
  <div class="flex-1 flex flex-col p-8">
    <img class="w-32 flex-shrink-0 mx-auto bg-black rounded-full" src="https://eu.ui-avatars.com/api/?name={{user.first_name}}+{{user.last_name}}" alt="">
    <h3 class="mt-6 text-gray-900 text-sm font-medium">{{user.first_name|title}} {{user.last_name|title}}</h3>
  </div>
</li>