{% extends "dashboard.html" %} {% block content %}
<h1 class="text-2xl font-semibold text-gray-900">Create Subject</h1>

<form action="" method="post" class="space-y-8 divide-y divide-gray-200">
  {% csrf_token %}
  <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
    <div>
      {{ form.non_field_errors }}
      <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
        <div
          class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5"
        >
          {{ form.name.errors }}
          <label
            for="{{ form.name.id_for_label }}"
            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"
            >{{ form.name.label }}</label
          >
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <input
              required
              id="{{ form.name.id_for_label }}"
              name="name"
              type="text"
              value="{{form.name.value|default_if_none:''}}"
              class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"
            />
          </div>
        </div>
      </div>
    </div>
    <div
      class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5"
    >
      {{ form.description.errors }}
      <label
        for="{{ form.description.id_for_label }}"
        class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"
      >
        {{ form.description.label }}
      </label>
      <div class="mt-1 sm:mt-0 sm:col-span-2">
        <textarea
          required
          id="{{ form.description.id_for_label }}"
          rows="3"
          name="description"
          class="max-w-lg shadow-sm block w-full focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md"
        >
{{form.description.value|default_if_none:''}}</textarea
        >
      </div>
    </div>
  </div>

  <div>
    <label
      for="{{ form.promotions.id_for_label }}"
      class="block text-sm font-medium text-gray-700"
      >{{ form.promotions.label }}</label
    >
    {{ form.promotions.errors }}
    <select
      required
      multiple
      id="{{ form.promotions.id_for_label }}"
      name="promotions"
      class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md"
    >
      {% for choice in form.promotions.field.queryset %}
      <option
        {%
        if
        choice.id
        in
        form.promotions.value
        %}selected{%
        endif
        %}
        value="{{ choice.id }}"
      >
        {{ choice.name }}
      </option>
      {% endfor %}
    </select>
  </div>

  <div>
    <label
      for="{{ form.teacher.id_for_label }}"
      class="block text-sm font-medium text-gray-700"
      >{{ form.teacher.label }}</label
    >
    {{ form.teacher.errors }}
    <select
      required
      id="{{ form.teacher.id_for_label }}"
      name="teacher"
      class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md"
    >
      {% for choice in teachers %}
      <option
       {% if choice.id in form.promotions.value %}selected{% endif %}
        value="{{ choice.id }}"
      >
        {{ choice }}
      </option>
      {% endfor %}
    </select>
  </div>

  <div class="pt-5">
    <div class="flex justify-end">
      <a
        href="{% url 'subjects.index' %}"
        class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
      >
        Cancel
      </a>
      <input
        type="submit"
        class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
      />
    </div>
  </div>
</form>
{% endblock content %}
