{% extends "dashboard.html" %} {% block content %}
<h1 class="text-2xl font-semibold text-gray-900">
  Are you sure you want to delete teacher "{{ object.username }}
  ({{object.first_name}} {{object.last_name}} )"?
</h1>

<form method="post" novalidate class="pt-5">
  {% csrf_token %}
  <a
    href="{% url 'teachers.index' %}"
    class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
  >
    Cancel
  </a>
  <input
    type="submit"
    class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
  />
</form>
{% endblock content %}
