{% extends "dashboard.html" %} {% block content %}
<h1 class="text-2xl font-semibold text-gray-900">Create Teacher</h1>

<form action="" method="post" class="space-y-8 divide-y divide-gray-200">
  {% csrf_token %}
  <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
    <div>
      {{ form.non_field_errors }}
      <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
        <div
          class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5"
        >
          {{ form.username.errors }}
          <label
            for="{{ form.username.id_for_label }}"
            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"
            >{{ form.username.label }}</label
          >
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <input
              required
              id="{{ form.username.id_for_label }}"
              name="username"
              type="text"
              value="{{form.username.value|default_if_none:''}}"
              class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"
            />
          </div>
        </div>
      </div>
    </div>

    <div
      class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5"
    >
      {{ form.first_name.errors }}
      <label
        for="{{ form.first_name.id_for_label }}"
        class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"
      >
        {{ form.first_name.label }}
      </label>
      <div class="mt-1 sm:mt-0 sm:col-span-2">
        <input
          required
          id="{{ form.first_name.id_for_label }}"
          name="first_name"
          type="text"
          value="{{form.first_name.value|default_if_none:''}}"
          class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"
        />
      </div>
    </div>
    <div
      class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5"
    >
      {{ form.last_name.errors }}
      <label
        for="{{ form.last_name.id_for_label }}"
        class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"
      >
        {{ form.last_name.label }}
      </label>
      <div class="mt-1 sm:mt-0 sm:col-span-2">
        <input
          required
          id="{{ form.last_name.id_for_label }}"
          name="last_name"
          type="text"
          value="{{form.last_name.value|default_if_none:''}}"
          class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"
        />
      </div>
    </div>
    <div
      class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5"
    >
      {{ form.email.errors }}
      <label
        for="{{ form.email.id_for_label }}"
        class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"
      >
        {{ form.email.label }}
      </label>
      <div class="mt-1 sm:mt-0 sm:col-span-2">
        <input
          required
          id="{{ form.email.id_for_label }}"
          name="email"
          type="email"
          value="{{form.email.value|default_if_none:''}}"
          class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"
        />
      </div>
    </div>
  </div>

  <div class="pt-5">
    <div class="flex justify-end">
      <a
        href="{% url 'teachers.index' %}"
        class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
      >
        Cancel
      </a>
      <input
        type="submit"
        class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
      />
    </div>
  </div>
</form>
{% endblock content %}
