{% extends "dashboard.html" %}
{% block content %}
<div class="max-w-7xl mx-auto mb-6">
  <h1 class="text-2xl font-semibold text-gray-900">My marks</h1>
</div>
{% for subject, notes in marks.items %}
  <div class="bg-white rounded-md text-md font-bold p-4 flex-col divide-y divide-gray-200">
    <h2 class="mb-4 capitalize">{{subject}}</h2>
    <ul>
    {% for mark in notes %}
      <li class="pl-8 pt-3 font-sm">{{mark.value}} /20</li>
    {% endfor %}
    <di>
  </di>

{% endfor %}

{% endblock content %}
