<li class="flex flex-col text-center bg-white rounded-lg shadow divide-y divide-gray-200 w-full">
    <div class="flex-1 flex flex-col p-8">
        <img class="w-20 flex-shrink-0 mx-auto bg-black rounded-full" src="https://eu.ui-avatars.com/api/?name={{user.first_name}}+{{user.last_name}}" alt="">
        <h3 class="mt-6 text-gray-900 text-sm font-medium">{{user.first_name|title}} {{user.last_name|title}}</h3>
    </div>
    <div>
        <div class="-mt-px flex divide-x divide-gray-200">
            <div class="w-0 flex-1 flex">
                <a href="{% url 'user.profile' id=user.id %}" class="relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-bl-lg hover:text-gray-500">
                View
                </a>
            </div>
            <div class="-ml-px w-0 flex-1 flex">
                <form method="POST" action="{% url 'promotion.coordinator.remove.student' %}" class="w-full">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value="{{user.id}}">
                    <button class="relative flex-1 inline-flex items-center justify-center py-4 text-sm text-red-500 font-medium border border-transparent rounded-br-lg hover:text-red-900">
                        Remove
                    </button>
                </form>
            </div>
        </div>
    </div>
</li>
