{% extends "base.html" %} {% block body %}

<div class="relative min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8 overflow-hidden">
    <div class="max-w-md w-full space-y-8">
        <div>
            <a href="/"><img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow"></a>
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                You've been disconnected!
            </h2>
        </div>

        <div class="flex items-center justify-center">
            <div class="text-lg">
                <a href="{% url 'login' %}" class="inline-flex items-center font-medium text-indigo-600 hover:text-indigo-500">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                    </svg>
                    Go to the login page
                </a>
            </div>
        </div>
    </div>
</div>


{% endblock %}
