{% extends "base.html" %} {% block body %}

<img src="https://media.giphy.com/media/xUPGcIM70OLLRb5972/giphy.gif" class="absolute bottom-2 right-2 rounded-full w-32 h-32 object-cover opacity-50">
<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
        <div>
            <a href="/"><img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow"></a>
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
            Lost your password?
            </h2>
            <p class="mt-2 text-center text-sm text-gray-600">
            Give us your email address so we can send your an email with a link to reset it you noob
            </p>
        </div>
        <form class="mt-8 space-y-6" method="POST">
            {% csrf_token %}
            <label class="block">
                <span class="text-gray-700">{{ form.email.label }}</span>
                <input name="{{ form.email.name }}" type="email" autocomplete="{{ form.email.name }}" required class="mt-1 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0" placeholder="Email address">
            </label>

            <div>
                <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                    <!-- Heroicon name: solid/at-symbol -->
                    <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M14.243 5.757a6 6 0 10-.986 9.284 1 1 0 111.087 1.678A8 8 0 1118 10a3 3 0 01-4.8 2.401A4 4 0 1114 10a1 1 0 102 0c0-1.537-.586-3.07-1.757-4.243zM12 10a2 2 0 10-4 0 2 2 0 004 0z" clip-rule="evenodd" />
                    </svg>
                    </span>
                    Send email with reset link
                </button>
            </div>

            <nav class="flex items-center justify-center" aria-label="Progress">
                <p class="text-sm font-medium">Step 1 of 4</p>
                <ol class="ml-8 flex items-center space-x-5">
                    <li>
                        <!-- Current Step -->
                        <p class="relative flex items-center justify-center" aria-current="step">
                            <span class="absolute w-5 h-5 p-px flex" aria-hidden="true">
                            <span class="w-full h-full rounded-full bg-indigo-200"></span>
                            </span>
                            <span class="relative block w-2.5 h-2.5 bg-indigo-600 rounded-full" aria-hidden="true"></span>
                            <span class="sr-only">Step 1</span>
                        </p>
                    </li>

                    <li>
                    <!-- Upcoming Step -->
                        <p class="block w-2.5 h-2.5 bg-gray-200 rounded-full">
                            <span class="sr-only">Step 2</span>
                        </p>
                    </li>

                    <li>
                    <!-- Upcoming Step -->
                        <p class="block w-2.5 h-2.5 bg-gray-200 rounded-full">
                            <span class="sr-only">Step 3</span>
                        </p>
                    </li>

                    <li>
                    <!-- Upcoming Step -->
                        <a class="block w-2.5 h-2.5 bg-gray-200 rounded-full">
                            <span class="sr-only">Step 4</span>
                        </a>
                    </li>
                </ol>
            </nav>


            <div class="flex items-center justify-center">
                <div class="text-sm">
                    <a href="{% url 'login' %}" class="font-medium text-indigo-600 hover:text-indigo-500">
                        Remember your password?
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock body %}
