{% extends "base.html" %}

{% load static %}

{% block body %}

<div class="relative min-h-screen flex items-center justify-center bg-gray-50 overflow-hidden">
    <img src="{% static 'img/Yellow-in-Jacket9.png' %}" alt="Yellow hand in a jacket doing an ok sign" class="absolute -bottom-10 w-96">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
      <div class="max-w-3xl mx-auto space-y-6">
        <div>
            <a href="/"><img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow"></a>
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                Woooosh!
            </h2>
            <p class="mt-2 text-center text-sm text-gray-600">
            An email with a link to reset your password has been sent!
            </p>
        </div>

        <nav class="flex items-center justify-center" aria-label="Progress">
            <p class="text-sm font-medium">Step 2 of 4</p>
            <ol class="ml-8 flex items-center space-x-5">
                <li>
                    <!-- Completed Step -->
                    <p class="block w-2.5 h-2.5 bg-indigo-600 rounded-full">
                        <span class="sr-only">Step 1</span>
                    </p>
                </li>

                <li>
                <!-- Current Step -->
                    <p class="relative flex items-center justify-center" aria-current="step">
                        <span class="absolute w-5 h-5 p-px flex" aria-hidden="true">
                        <span class="w-full h-full rounded-full bg-indigo-200"></span>
                        </span>
                        <span class="relative block w-2.5 h-2.5 bg-indigo-600 rounded-full" aria-hidden="true"></span>
                        <span class="sr-only">Step 2</span>
                    </p>
                </li>

                <li>
                <!-- Upcoming Step -->
                    <p class="block w-2.5 h-2.5 bg-gray-200 rounded-full">
                        <span class="sr-only">Step 3</span>
                    </p>
                </li>

                <li>
                <!-- Upcoming Step -->
                    <a class="block w-2.5 h-2.5 bg-gray-200 rounded-full">
                        <span class="sr-only">Step 4</span>
                    </a>
                </li>
            </ol>
        </nav>
      </div>
    </div>
</div>

{% endblock body %}
