{% extends "base.html" %}

{% load static %}

{% block body %}

<div class="relative min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8 overflow-hidden">
    <img src="{% static 'img/Yellow-in-Jacket4.png' %}" alt="Yellow hand in a jacket doing pointing the form" class="absolute -bottom-10 w-96">
    <div class="max-w-md w-full space-y-8">
        <div>
            <a href="/"><img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow"></a>
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                {% if validlink %}
                    Setup a new password
                {% else %}
                    Whooops!
                {%endif%}
            </h2>
        </div>
        {% if validlink %}
            {% if form.errors %}
                <div class="rounded-md bg-red-50 p-4">
                    <div class="flex">
                        <div class="flex-shrink-0">
                            <!-- Heroicon name: solid/x-circle -->
                            <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                            </svg>
                        </div>
                        <div class="ml-3">
                            <h3 class="text-sm font-medium text-red-800">
                                <p>{{ form.errors.new_password2 }}</p>
                            </h3>
                        </div>
                    </div>
                </div>
            {% endif %}

        <form class="mt-8 space-y-6" method="POST" autocomplete="off">
            {% csrf_token %}
            <label class="block">
                <span class="text-gray-700">{{ form.new_password1.label }}</span>
                <input name="{{ form.new_password1.name }}" type="password" autocomplete="off" required class="mt-1 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0">
            </label>
            <label class="block">
                <span class="text-gray-700">{{ form.new_password2.label }}</span>
                <input name="{{ form.new_password2.name }}" type="password" required class="mt-1 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0">
            </label>

            <div>
                <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                    <!-- Heroicon name: solid/lock-closed -->
                    <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                    </svg>
                    </span>
                    Change my password
                </button>
            </div>

            <nav class="flex items-center justify-center" aria-label="Progress">
                <p class="text-sm font-medium">Step 3 of 4</p>
                <ol class="ml-8 flex items-center space-x-5">
                    <li>
                        <!-- Completed Step -->
                        <p class="block w-2.5 h-2.5 bg-indigo-600 rounded-full">
                            <span class="sr-only">Step 1</span>
                        </p>
                    </li>
                    <li>
                        <!-- Completed Step -->
                        <p class="block w-2.5 h-2.5 bg-indigo-600 rounded-full">
                            <span class="sr-only">Step 2</span>
                        </p>
                    </li>
                    <li>
                        <!-- Current Step -->
                        <p class="relative flex items-center justify-center" aria-current="step">
                            <span class="absolute w-5 h-5 p-px flex" aria-hidden="true">
                            <span class="w-full h-full rounded-full bg-indigo-200"></span>
                            </span>
                            <span class="relative block w-2.5 h-2.5 bg-indigo-600 rounded-full" aria-hidden="true"></span>
                            <span class="sr-only">Step 3</span>
                        </p>
                    </li>

                    <li>
                    <!-- Upcoming Step -->
                        <p class="block w-2.5 h-2.5 bg-gray-200 rounded-full">
                            <span class="sr-only">Step 4</span>
                        </p>
                    </li>
                </ol>
            </nav>
        </form>
        {% else %}
            <p class="mt-2 text-center text-sm text-gray-600">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        {% endif %}
    </div>
</div>


{% endblock body %}
