{% extends "base.html" %}

{% load static %}

{% block body %}

<div class="relative min-h-screen flex items-center justify-center bg-gray-50 overflow-hidden">
    <img src="{% static 'img/Yellow-in-Jacket11.png' %}" alt="Yellow hand in a jacket doing a rock sign" class="absolute -bottom-10 w-96">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
      <div class="max-w-3xl mx-auto space-y-6">
        <div>
            <a href="/"><img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow"></a>
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                Tadaaaaam!
            </h2>
            <p class="mt-2 text-center text-sm text-gray-600">
            Your password has been successfully changed
            </p>
        </div>

        <div class="flex items-center justify-center">
            <div class="text-lg">
                <a href="{% url 'login' %}" class="inline-flex items-center font-medium text-indigo-600 hover:text-indigo-500">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                    </svg>
                    Go to the login page
                </a>
            </div>
        </div>

        <nav class="flex items-center justify-center" aria-label="Progress">
            <p class="text-sm font-medium">Step 4 of 4</p>
            <ol class="ml-8 flex items-center space-x-5">
                <li>
                    <!-- Completed Step -->
                    <p class="block w-2.5 h-2.5 bg-indigo-600 rounded-full">
                        <span class="sr-only">Step 1</span>
                    </p>
                </li>
                <li>
                    <!-- Completed Step -->
                    <p class="block w-2.5 h-2.5 bg-indigo-600 rounded-full">
                        <span class="sr-only">Step 2</span>
                    </p>
                </li>
                <li>
                    <!-- Completed Step -->
                    <p class="block w-2.5 h-2.5 bg-indigo-600 rounded-full">
                        <span class="sr-only">Step 3</span>
                    </p>
                </li>

                <li>
                <!-- Current Step -->
                    <p class="relative flex items-center justify-center" aria-current="step">
                        <span class="absolute w-5 h-5 p-px flex" aria-hidden="true">
                        <span class="w-full h-full rounded-full bg-indigo-200"></span>
                        </span>
                        <span class="relative block w-2.5 h-2.5 bg-indigo-600 rounded-full" aria-hidden="true"></span>
                        <span class="sr-only">Step 4</span>
                    </p>
                </li>
            </ol>
        </nav>
      </div>
    </div>
</div>

{% endblock body %}
