<a
  href="{% url 'promotion.coordinator' %}"
  class="
    {% if "promotion" in request.path %}
      bg-indigo-800 text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md
    {%else%}
      text-white hover:bg-indigo-600 hover:bg-opacity-75 group flex items-center px-2 py-2 text-sm font-medium rounded-md
    {% endif %}
  "
>
  <!-- Heroicon name: outline/academic-cap -->
  <svg class="mr-3 h-6 w-6 text-indigo-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path d="M12 14l9-5-9-5-9 5 9 5z" />
    <path d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
  </svg>
  Promotions
</a>

<a
  href="{% url 'subjects.index' %}"
  class="
    {% if "subjects" in request.path %}
      bg-indigo-800 text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md
    {%else%}
      text-white hover:bg-indigo-600 hover:bg-opacity-75 group flex items-center px-2 py-2 text-sm font-medium rounded-md
    {% endif %}
  "
>
  <!-- Heroicon name: outline/bookmark-alt -->
  <svg class="mr-3 h-6 w-6 text-indigo-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 4v12l-4-2-4 2V4M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
  </svg>
  Subjects
</a>

<a
  href="{% url 'teachers.index' %}"
  class="
    {% if "teachers" in request.path %}
      bg-indigo-800 text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md
    {%else%}
      text-white hover:bg-indigo-600 hover:bg-opacity-75 group flex items-center px-2 py-2 text-sm font-medium rounded-md
    {% endif %}
  "
>
  <!-- Heroicon name: outline/users -->
  <svg class="mr-3 h-6 w-6 text-indigo-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
  </svg>
  Teachers
</a>

<a
  href="#"
  class="
    {% if "planning" in request.path %}
      bg-indigo-800 text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md
    {%else%}
      text-white hover:bg-indigo-600 hover:bg-opacity-75 group flex items-center px-2 py-2 text-sm font-medium rounded-md
    {% endif %}
  "
>
  <!-- Heroicon name: outline/calendar -->
  <svg class="mr-3 h-6 w-6 text-indigo-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
  </svg>
  Plannings
</a>
