<a
  href="{% url 'promotion.student' %}"
  class="
    {% if "promotion" in request.path %}
      bg-indigo-800 text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md
    {%else%}
      text-white hover:bg-indigo-600 hover:bg-opacity-75 group flex items-center px-2 py-2 text-sm font-medium rounded-md
    {% endif %}
  "
>
  <!-- Heroicon name: outline/user-group -->
  <svg class="mr-3 h-6 w-6 text-indigo-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
  </svg>
  Promotion
</a>

<a
  href="{% url 'marks.index' %}"
  class="
    {% if "marks" in request.path %}
      bg-indigo-800 text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md
    {%else%}
      text-white hover:bg-indigo-600 hover:bg-opacity-75 group flex items-center px-2 py-2 text-sm font-medium rounded-md
    {% endif %}
  "
>
  <!-- Heroicon name: outline/pencil-alt -->
  <svg class="mr-3 h-6 w-6 text-indigo-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
  </svg>
  My Marks
</a>

<a
  href="{% url 'document' %}"
  class="
    {% if "documents" in request.path %}
      bg-indigo-800 text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md
    {%else%}
      text-white hover:bg-indigo-600 hover:bg-opacity-75 group flex items-center px-2 py-2 text-sm font-medium rounded-md
    {% endif %}
  "
>
  <!-- Heroicon name: outline/folder -->
  <svg
    class="mr-3 h-6 w-6 text-indigo-300"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    aria-hidden="true"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"
    />
  </svg>
  Documents
</a>

<a
  href="#"
  class="
    {% if "planning" in request.path %}
      bg-indigo-800 text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md
    {%else%}
      text-white hover:bg-indigo-600 hover:bg-opacity-75 group flex items-center px-2 py-2 text-sm font-medium rounded-md
    {% endif %}
  "
>
  <!-- Heroicon name: outline/calendar -->
  <svg class="mr-3 h-6 w-6 text-indigo-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
  </svg>
  Plannings
</a>

