<a
  href="{% url 'teachers.subjects.index' %}"
  class="
    {% if "my-subjects" in request.path %}
      bg-indigo-800 text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md
    {%else%}
      text-white hover:bg-indigo-600 hover:bg-opacity-75 group flex items-center px-2 py-2 text-sm font-medium rounded-md
    {% endif %}
  "
>
  <!-- Heroicon name: outline/bookmark -->
  <svg class="mr-3 h-6 w-6 text-indigo-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
  </svg>
  My subjects
</a>
<a
  href="{% url 'document' %}"
  class="
    {% if "documents" in request.path %}
      bg-indigo-800 text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md
    {%else%}
      text-white hover:bg-indigo-600 hover:bg-opacity-75 group flex items-center px-2 py-2 text-sm font-medium rounded-md
    {% endif %}
  "
>
  <!-- Heroicon name: outline/folder -->
  <svg
    class="mr-3 h-6 w-6 text-indigo-300"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    aria-hidden="true"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"
    />
  </svg>
  Documents
</a>
