{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Myges Constrictor</title>
    {% tailwind_css %}
  </head>
  <body>
    {% block body %}{% endblock %}
    <script type="module" src="{% static "js/components/alerts/success.js" %}"></script>
    <script type="module" src="{% static "js/components/alerts/warning.js" %}"></script>
    <script type="module" src="{% static "js/components/alerts/default.js" %}"></script>
  </body>
</html>
