{% extends "base.html" %} {% block body %}
{% load classroom_extras %}

<div class="h-screen flex overflow-hidden bg-gray-100">
  <div class="hidden bg-indigo-700 md:flex md:flex-shrink-0">
    <div class="flex flex-col w-64">
      <!-- Sidebar component, swap this element with another sidebar if you like -->
      <div class="flex flex-col h-0 flex-1">
        <div class="flex-1 flex flex-col pt-5 pb-4 overflow-y-auto">
          <div class="flex items-center flex-shrink-0 px-4">
            <img
              class="h-8 w-auto"
              src="https://tailwindui.com/img/logos/workflow-mark-indigo-300.svg"
              alt="Workflow"
            />
            <p class="font-bold text-white ml-3 text-xl">ESGI Constrictor</p>
          </div>
          <nav class="mt-5 flex-1 px-2 space-y-1">
            <!-- Current: "bg-indigo-800 text-white", Default: "text-white hover:bg-indigo-600 hover:bg-opacity-75" -->
            <a
              href="{% url 'home' %}"
              class="
                {% if request.path == "/" %}
                  bg-indigo-800 text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md
                {%else%}
                  text-white hover:bg-indigo-600 hover:bg-opacity-75 group flex items-center px-2 py-2 text-sm font-medium rounded-md
                {% endif %}
            "
            >
              <!-- Heroicon name: outline/home -->
              <svg
                class="mr-3 h-6 w-6 text-indigo-300"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
                />
              </svg>
              Dashboard
            </a>
            {% if request.user|is_student %}
                {% include "sideBar/student.html" %}
            {% endif %}
            {% if request.user|is_teacher %}
                {% include "sideBar/teacher.html" %}
            {% endif %}
            {% if request.user|is_coordinator %}
                {% include "sideBar/coordinator.html" %}
            {% endif %}
          </nav>
          <div class="px-2">
            <a
                href="{% url 'logout' %}"
                class="
                    text-white hover:bg-indigo-600 hover:bg-opacity-75 group flex items-center px-2 py-2 text-sm font-medium rounded-md
              "
              >
                <!-- Heroicon name: outline/logout -->
                <svg xmlns="http://www.w3.org/2000/svg" class="mr-3 h-6 w-6 text-indigo-300"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                </svg>
                Logout
            </a>
          </div>
        </div>
        <div class="flex-shrink-0 flex border-t border-indigo-800 p-4">
          <a href="{% url 'profile' %}" class="flex-shrink-0 w-full group block">
            <div class="flex items-center">
              <div>
                <img
                  class="inline-block h-9 w-9 rounded-full"
                  src="https://eu.ui-avatars.com/api/?background=A5B4FC&color=4F46E5&name={{request.user.first_name}}+{{request.user.last_name}}&rounded=true"
                  alt=""
                />
              </div>
              <div class="ml-3">
                <p class="text-sm font-medium text-white">
                  {{request.user.username}}
                </p>
                <p
                  class="text-xs font-medium text-indigo-200 group-hover:text-white"
                >
                  View profile
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col w-0 flex-1 overflow-hidden">
    <main class="flex-1 relative z-0 overflow-y-auto focus:outline-none">
      <div class="max-w-7xl mx-auto px-4 py-6 sm:px-6 md:px-8">
        {% block content %}{% endblock content %}
      </div>
    </main>
  </div>
</div>

{% endblock body %}
