{% extends 'dashboard.html' %}

{% load classroom_extras %}

{% block content %}

<div class="max-w-7xl mx-auto mb-6 flex space-x-4 items-center">
  <h1 class="text-2xl font-semibold text-gray-900">My Documents</h1>
  {% if request.user|is_teacher %}
  <a href="{% url 'document.upload' %}" class="inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
    Upload one or more documents
  </a>
  {% endif %}
</div>

{% for subject, docs in documents.items %}
    <div class="mb-6">
        <h2 class="text-xl font-semibold text-gray-900">{{ subject }}</h2>
        <div class="bg-white shadow overflow-hidden sm:rounded-md mt-2">
            <ul class="divide-y divide-gray-200">
                {% for doc in docs %}
                <li>
                <a href="{{ doc.file.url }}" target="_blank" class="block hover:bg-gray-50">
                    <div class="px-4 py-4 flex items-center sm:px-6">
                        <div class="min-w-0 flex-1 sm:flex sm:items-center sm:justify-between">
                            <div class="truncate">
                                <p class="font-medium text-sm text-indigo-600 truncate">{{ doc }}</p>
                            </div>
                            <div>
                                <p class="font-medium text-sm text-gray-600 truncate">{{ doc.file.size|filesizeformat }}</p>
                            </div>
                        </div>
                        <div class="ml-5 flex-shrink-0">
                            <!-- Heroicon name: solid/external-link -->
                            <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
                                <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
                            </svg>
                        </div>
                    </div>
                </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endfor %}

{% endblock content %}