{% extends 'dashboard.html' %}

{% block content %}

<div class="max-w-7xl mx-auto mb-6 space-y-4">
    <a href={% url 'document' %} class="inline-flex items-center font-medium text-indigo-600 hover:text-indigo-500">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18" />
        </svg>
        Back
    </a>
    <h1 class="text-2xl font-semibold text-gray-900">Upload one or more documents</h1>
</div>

<form method="POST" enctype="multipart/form-data" class="space-y-6">
{% csrf_token %}

<label class="block">
    <span class="text-gray-700">{{ form.title.label }}</span>
    <input
        name="{{ form.title.name }}"
        type="text"
        required
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
    />
</label>

<label class="block">
    <span class="text-gray-700">{{ form.subject.label }}</span>
    <select name="{{ form.subject.name }}" required class="block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
        {% for field in form.subject %}
            {{ field }}
        {% endfor %}
    </select>
</label>

{{ form.file_field }}

<div>
    <button
    type="submit"
    class="inline-flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
    >
        <span class="flex items-center pr-3">
            <!-- Heroicon name: solid/at-symbol -->
            <svg class="h-5 w-5 text-indigo-200 group-hover:text-indigo-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM6.293 6.707a1 1 0 010-1.414l3-3a1 1 0 011.414 0l3 3a1 1 0 01-1.414 1.414L11 5.414V13a1 1 0 11-2 0V5.414L7.707 6.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
            </svg>
        </span>
        Upload documents
    </button>
</div>
</form>

{% endblock content %}
